{
  {% if ansible_default_ipv4['address'] in groups['consul'] %}
  "server": true,
  "bootstrap_expect": 3,
  {% endif %}
  "bind_addr": "{{ ansible_default_ipv4['address'] }}",
  "datacenter": "{{ ec2_region }}",
  "client_addr": "{{ ansible_default_ipv4['address'] }}",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ ec2_id }}",
  "ui": true,
  "leave_on_terminate": true,
  "start_join": [{% for host in groups['consul']%}"{{ hostvars[host].ansible_default_ipv4['address'] }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
