{
  "Marathon": {
    "Endpoint": "{% for host in groups['mesos-master']%}http://{{ hostvars[host].ansible_default_ipv4['address'] }}:8080{% if not loop.last %},{% endif %}{% endfor %}"
  },

  "Bamboo": {
    "Endpoint": "http://{{ ansible_default_ipv4['address'] }}:8000",
    "Zookeeper": {
      "Host": "{% for host in groups['mesos-master']%}{{ hostvars[host].ansible_default_ipv4['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}",
      "Path": "/marathon-haproxy/state",
      "ReportingDelay": 5
    }
  },

  "HAProxy": {
    "TemplatePath": "/var/bamboo/haproxy_template.cfg",
    "OutputPath": "/etc/haproxy/haproxy.cfg",
    "ReloadCommand": "haproxy -f /etc/haproxy/haproxy.cfg -p /var/run/haproxy.pid -D -sf $(cat /var/run/haproxy.pid)"
  },

  "StatsD": {
    "Enabled": false,
    "Host": "localhost:8125",
    "Prefix": "bamboo-server.production."
  }
}
