{
  "services": [
  {
    "name": "marathon",
    "id": "marathon-{{ ec2_id }}",
    "tags": ["marathon", "mesos", "{{ ec2_tag_env }}"],
    "port": 8080,
    "enableTagOverride": false,
    "checks": [
      {
      "id": "marathon-api-{{ ec2_id }}",
      "name": "Marathon API on port 8080",
      "http": "http://{{ ansible_default_ipv4['address'] }}:8080/ping",
      "interval": "10s",
      "timeout": "4s"
      }
    ]
  },
  {
    "name": "mesos-master",
    "id": "mesos-master-{{ ec2_id }}",
    "tags": ["mesos-master", "mesos", "{{ ec2_tag_env }}"],
    "port": 5050,
    "enableTagOverride": false,
    "checks": [
      {
      "id": "mesos-master-api-{{ ec2_id }}",
      "name": "Mesos API on port 8080",
      "http": "http://{{ ansible_default_ipv4['address'] }}:5050/version",
      "interval": "10s",
      "timeout": "4s"
      }
    ]
  },
  {
    "name": "zookeeper",
    "id": "zookeeper-{{ ec2_id }}",
    "tags": ["zookeeper", "mesos", "{{ ec2_tag_env }}"],
    "port": 2181,
    "enableTagOverride": false,
    "checks": [
      {
      "id": "zookeeper-api-{{ ec2_id }}",
      "name": "Zookeeper on port 2181",
      "tcp": "127.0.0.1:2181",
      "interval": "10s",
      "timeout": "4s"
      }
    ]
  }
]}
