{
  "services": [
  {
    "name": "jenkins",
    "id": "jenkins-{{ ec2_id }}",
    "tags": ["jenkins", "{{ ec2_tag_env }}"],
    "port": 80,
    "enableTagOverride": false,
    "checks": [
      {
      "id": "jenkins-{{ ec2_id }}",
      "name": "Jenkins on port 80",
      "tcp": "{{ ansible_default_ipv4['address'] }}:80",
      "interval": "10s",
      "timeout": "4s"
      }
    ]
  }
]}
