{
  "services": [
  {
    "name": "jenkins",
    "id": "jenkins-{{ ec2_id }}",
    "tags": ["jenkins", "admin", "{{ ec2_tag_env }}"],
    "port": 8081,
    "enableTagOverride": false,
    "checks": [
      {
      "id": "jenkins-{{ ec2_id }}",
      "name": "Jenkins on port 8081",
      "http": "http://{{ ansible_default_ipv4['address'] }}:8081/robots.txt",
      "interval": "10s",
      "timeout": "4s"
      }
    ]
  }
]}
