{
  "services": [
    {
      "name": "grafana",
      "id": "grafana-{{ ec2_id }}",
      "tags": ["grafana", "admin", "{{ ec2_tag_env }}"],
      "port": 3000,
      "enableTagOverride": false,
      "checks": [
        {
          "id": "grafana-{{ ec2_id }}",
          "name": "Grafana on port 3000",
          "http": "http://{{ ansible_default_ipv4['address'] }}:3000",
          "interval": "10s",
          "timeout": "4s"
        }
      ]
    }
  ]
}
